.history {
    .history__pagination {

        margin: 2rem 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.history__side__bar_controll {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .side__bar_filter {
        color: white;
        display: flex;
        gap: 1.5rem;

        .side__bar_filter_item {
            color: white;
            cursor: pointer;
            font-size: 0.95rem;
            color: #949499;
            padding: 0.5rem 1rem;
            transition: all 0.3s ease;

            &.active {
                background-color: #f5f5f5;
                border-radius: 100px;
                font-weight: 700;
                color: #525252;
                pointer-events: none;
            }
        }

       
    }

    
}
